
body {
    font-family: 'Ubuntu', sans-serif;
}

table {
    box-shadow: 3px 3px 10px;

}
table, th, td {
    border: 1px solid rgb(61, 61, 61);
    border-collapse: collapse;
    width: 300px;
    height: 30px;
    text-align: center;

}

tr:nth-child(6) td:nth-child(3) {
    background-color: #628ca6;
    color: white;
}

th {
    background-color: #628ca6;
    color: white;
}
#title {
    background-color: #7fb9c2;
    width: 300px;
    height: 30px;
}


.odd {
    background-color: #e7f0ed;
}

.even {
    background-color: #e7ffed;
    
}