@media only screen and (min-width: 700px){
    

    /* header for all pages */
    header{
        height: 100px;
    }
    
    nav {
        max-width: 1080px;
    }
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	.hero-image{
		margin-left: -5px;
		max-width: 1080px;
	}

	.report {
		float: left;
		margin-top: -160px;
		
	}
	.report li{
		margin-top: 0px;

	}

	.forecast-title {
		text-align: center;
		margin-top: 10px;
	}
	table {
		width: 100%;
		max-width: 100%;
	}

	.contact {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto;
	}
	.contact-info {
		grid-column: 2;
		grid-row: 1;
	}


}