@media screen and (min-width: 1000px) {

    nav {
        background-color: #373A43;
        color: white;
        width: auto;
        

    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      nav li {
        float: left;
      }
      
      nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
     nav li a:hover {
        background-color: #0FFA89;
        color: black;
      }

      /*Directory */
      .btn {
        visibility: visible;
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: #f1f1f1;
        cursor: pointer;
      }
      
      .btn:hover {
        background-color: #ddd;
      }
      
      .btn.active {
        background-color: #666;
        color: white;
      }
      #btnContainer{
        max-width:960px;
        margin:auto;
        padding:20px;
      }
}

/*contact*/

.map {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr;
}

.map-frame {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  
}

.information {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}