
  /* Site template */
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Open+Sans:ital,wght@1,600&display=swap');

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

p, li, ul {
    font-family: 'Kiwi Maru', 'serif';
}

body, html {
    height: 100%;
    margin: 0;
    background-color:darkslategray;
    
  }
  
  * {
    box-sizing: border-box;
  }



.page {
    background-color: white;
    box-shadow: 5px 5px 10px black;
    color: black;
    margin: auto;
    position: center;
    z-index: 2;
    width: auto;
    height: auto;
    padding: 20px;
    text-align: center;
}
nav {
  background-color: #373A43;
  color: white;
  

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #373A43;
}

nav li {
  float: center;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #0FFA89;
  color: black;
}
nav li a.active {
  background-color:slategray;
}

footer {
  background-color: #af3b6e;
  color: white;
  margin-top: 10px;
  padding: 5px;
  width: auto;
}

/*Home*/
.hero-image {
  box-shadow: 2px 2px 5px black;
  height: auto;
  width: 100%;
}

.weather-grid {
  display: grid;
  grid-template-columns: auto, auto, auto;
  grid-template-rows: auto, auto;
}

.event-1 {
  background-image:    linear-gradient(
    45deg, 
    #0FFA89, #af3b6e
  );
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: auto;
  width: 200px;
  margin-bottom: 10px;
}

.forecast {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  background-color: #c492b1;
  flex-direction: column;
  padding: 5px;
}

.forecasttitle {
  background-color: white;
  padding: 5px;
  box-shadow: 2px 2px 10px black;
}

.forecast_true {
  display: flex;
  justify-content: space-evenly;
}

.day1 {
  float: left;
  background-color: white;
  box-shadow: 2px 2px 10px black;
  height: auto;
  width: 100px;
}

.day2 {
  float: center;
  background-color: white;
  box-shadow: 2px 2px 10px black;
  height: auto;
  width: 100px;
}

.day3 {
  float: right;
  background-color: white;
  box-shadow: 2px 2px 10px black;
  height: auto;
  width: 100px;
}

.weather-summary {
  background-image:    linear-gradient(
    45deg, 
    #af3b6e, #0FFA89
  );
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  height: auto;
  width: 200px;
  float: right;
  margin-bottom: 10px;
}

.spotlight {
  background-color: #c492b1;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
}

.spotlight img {
  width: 140px;
  height: auto;
}

.company1 {
  background-color: white;
  padding: 5px;
  width: 150px;
  float: left;
}
.company2 {
  background-color: white;
  padding: 5px;
  width: 150px;
  float: center;
}

.company3 {
  background-color: white;
  padding: 5px;
  width: 150px;
  float: right;
}

.spotlight div:hover {
  box-shadow: 2px 2px 10px black;
}

.contact-info {
  border-style: dashed;
  background-color: white;
  margin-bottom: 10px;
  padding: 5px;
}

.contact-info img {
  width: 50px;
  padding: 10px;
}

/*Syracuse */

.upcoming-events {
  border-style: dashed;
  background-color: #bce7fd;
  margin-bottom: 10px;
  padding: 5px;
}

/*Form*/
form legend {
  color: #ffffff;
  margin: 0 1rem;
  border-radius: 10px;
  text-align: left;  
  font-weight:bold;
  background-color: #373A43;
  padding: 5px 10px;
}


form label.top, form div {
  display: block;
  margin-bottom: 20px;
  margin-top:10px;
  color: #000000;
  font-size: 1rem;
  
}


form label.top input, form label.top textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 0.75rem;
  color: #444f5a;
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  line-height:1.3;
}
form span {
  margin-top: 4%;
  font-weight: 800;
}
span.req {
  color: 	red;
  margin: 0;
  font-size:18px;
}



.value {
  color: #000000;
  font-weight: bold;
  font-size:16px;
  text-align: right;
}

form label.mem {
  display: block;
  padding: 5px;
  color: #000000;
}


form textarea {
  height: 10rem;
}

form input.submitButton {
  border: none;
  background-color: #0FFA89;
  color: #000000;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 auto;
  width: 200px;
  display:block;
  font-weight:bold;
}
form input.submitButton:hover {
  cursor: pointer;
  background-color: #373A43;
  color:#0FFA89;
}

form label.top input:required {
  border-left: red solid 10px;
}


form label.top input:required:valid {
  border-left: green solid 10px;
}