
/* header for all pages */
body {
    background-color: #ACDDE7;
}

p, ul, ol {
    font-family: 'Architects Daughter', cursive;
}

h1, h2, h3 {
    font-family: 'Yusei Magic', sans-serif;
}

.main-grid {
    background-color: white;
    max-width: 1080px;
    margin: auto;
    padding: 10px;
}
.navigation {
    background-color: #B744B8;
}

a { 
    color: black; 
    font-weight: 300; 
    letter-spacing: 2px; 
    text-decoration: none; 
    background-color: #B744B8; 
    padding: 20px 5px; 
    display: inline-block; 
    width: 100%; 
    text-align: center; 
    }
    
a:hover { 
    background: #A379C9; 
}
.main { 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 3em 1.5em; 
} 
        
.navigation ul { 
    border: 1px #b744b8; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-wrap: wrap;
}

.navigation li {
    flex: 1 1 50%;
    flex-basis: 100% 
}
.hl {
    border-bottom: 3px solid #ADB9E3;
    height: 5px;
    width: 400px;
    
}

/* index */
.purpose {
    background-color: #9ad5ca;
    max-width: 600px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

/* Target Audience */
.audience {
    background-color: #9ad5ca;
    max-width:600px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

/* Color Scheme */
.color-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin: auto;
}

.box1 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    background-color: #ACDDE7;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;


}
.box2 {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    background-color: #9AD5CA;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;


}
.box3 {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    background-color: #ffffff;
    border: solid;
    border-color: black;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;


}
.box4 {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    background-color: #ADB9E3;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;


}
.box5 {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
    background-color: #A379C9;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;

}

.box6 {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    background-color: #B744B8;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;

}

/* Typography */
.example {
    background-color: #9ad5ca;
    text-align: center;
    max-width: 200px;
    padding: 10px;
}